<div class="articles-head">
  <h1>Articles</h1>
  <%= link_to "New article", new_article_path %>
</div>
<div class="articles-index">
  <div class="articles">
    <% @articles.each do |article| %>
      <div class='article'>
        <%= render article %>
        <%= link_to "Show this article", article if user_signed_in? %>
      </div>
    <% end %>
  </div>
</div>
