<div class="navbar">
  <div>
    <%= link_to "Rails On Blog", root_path %>
  </div>
  <div>
    <%= link_to "Foro", root_path %>
    <%= link_to "Entrar", new_user_session_path %>
    <%= link_to "Rails On Blog", root_path %>
  </div>
</div>
